<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chron.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/marker"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.chron.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chron.app.MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name="com.chron.app.SelectorActivity"
            android:label="@string/title_activity_main_activity2" >
        </activity>
        <activity
            android:name="com.chron.app.TabBar"
            android:label="@string/title_activity_main_activity2" >
        </activity>
        <activity
            android:name="com.chron.app.Tab1"
            android:label="@string/title_activity_main_activity2" >
        </activity>
        <activity
            android:name="com.chron.app.Tab2"
            android:label="@string/title_activity_main_activity2" >
        </activity>
        <activity
            android:name="com.chron.app.Tab3"
            android:label="@string/title_activity_main_activity2" >
        </activity>
        <activity
            android:name="com.chron.app.DriverMain"
            android:label="@string/title_activity_driver_main" >
        </activity>
        <activity
            android:name="com.chron.app.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.chron.app.SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
    </application>

</manifest>
